.amateurTableContainer {
  margin: 15px 0;
}
.amateurActionGrp {
  display: flex;
  flex-direction: row;
}
.actionButton {
  margin: 2%;
}
.amateurSearch {
  width: 250px;
  margin: 2%;
  margin-left: 1168px;
  margin-right: 20px;
}
.fieldset {
  border: 1px solid black;
}
.verticalDivider {
  background-color: black;
  height: 400px;
}
.photodiv {
  width: 600px;
}
.itemdiv {
  width: 600px;
}
.orderHeader {
  background-color: #001529;
  width: 500px;
  color: #ffff;
  margin: 2%;
}
.checkboxes {
  width: 250px;
}
.checkboxes2 {
  width: 150px;
}
.amateurOrderTable {
  display: flex;
  flex-direction: row;
}
.horizontalDivider {
  display: none;
}
.cards {
  display: none;
}
.card-record {
  display: flex;
  flex-direction: row;
}
.card-label {
  font-weight: 700;
  margin-right: 2%;
}
.header-edit-add {
  margin: 2%;
  font-size: 20px;
}
.paydiv {
  display: flex;
  flex-direction: row;
  margin-left: 25%;
}
.orderTable {
  margin-left: 25%;
  margin-top: 5%;
}
.logoPrint {
  margin-left: 5%;
  margin-top: 10%;
}
.headingdiv {
  margin-left: 25%;
  margin-top: 10%;
  font-size: 20px;
}
.reportheaderdiv {
  display: flex;
  flex-direction: row;
}
.datediv {
  margin-left: 5%;
  margin-top: 3%;
}
.footerdiv {
  margin-top: 3%;
  margin-left: 60%;
}
.buttonGrp {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .amateurOrderTable {
    display: flex;
    flex-direction: column;
  }
  .verticalDivider {
    display: none;
  }
  .orderHeader {
    width: 250px;
  }
  .horizontalDivider {
    display: block;
    background-color: black;
  }
  .cards {
    display: flex;
    flex-direction: column;
  }
  .table-container {
    display: none;
  }
  .paydiv {
    display: flex;
    flex-direction: column;
  }
  .buttonGrp {
    display: flex;
    flex-direction: column;
  }
}
