.mButton {
  margin: 2%;
}
.amateurSearch {
  width: 500px;
  float: right;
}
.rButton {
  margin-left: 20px;
  margin-right: 1168px;
  margin-bottom: 0%;
}
.actionButton {
  margin: 20px;
  margin-bottom: 85px;
  margin-top: 1px;
  display: inline-flex;
}
.detailText {
  display: flex;
  flex-direction: row;
  margin: 5px 0px;
}
.detailKey {
  color: grey;
}
.detailValue {
  margin-left: 3px;
  color: black;
}
